.menu-carre{
	background-color: grey;
	border: 5px;
	border-color: black;
	border-style: solid;
    height:40%;
    margin-right:3%;
    width:30%;
}

.menu{
	clear: both;	
	width: 90%;	
	margin: auto;
    margin-left: 5%;
}
body{
	color: white;
	height: 100%;
}
.bgLepuy{
	background: url('../images/backgrounds/lepuy.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bgIUTMiniature{
	background-image: url('../images/backgrounds/iut.jpg'); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.bgSalleMiniature{
	background-image: url('../images/backgrounds/salle.jpg');
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}
.bgIUT2Miniature{
	background-image: url('../images/backgrounds/IUT2.jpg');
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}

.bgIUTContent{
	background: url('../images/backgrounds/iut.jpg')no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.bgSalleContent{
	background: url('../images/backgrounds/salle.jpg')no-repeat center center fixed;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}
.bgIUT2Content{
	background: url('../images/backgrounds/IUT2.jpg')no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}


#dut{

	display: none;
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}
#dut p{
	padding-left: 5%;
}
.mini_titre{
margin-left: 5%;
}

#licence{
	display: none;
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}
#licence p{
	padding-left: 5%;
}
#infos{
	display: none;
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;

}
#infos p {
	padding-left: 5%;
}

#licence h3{
	padding-left: 5%;
}

#licence h4{
	padding-left: 5%;
}

#dut h3{
	padding-left: 5%;
}

#dut h4{
	padding-left: 5%;
}

#infos h3{
	padding-left: 5%;
}

#infos h4{
	padding-left: 5%;
}

.bigHeight{
	margin-top: 100px;
}
#menu2{
	display: none;
}
.content{
	position: absolute;
	left: 15%;
	top: 0;
}
#menu2{
	width: 15%;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	background-color: rgba (0,0,0,0.2);
	border-right: 1px solid;
	border-color: white;
}
a.scrollTo{
	color: white;
}
img.iut_logo{
	width: 80%;
}
.menu_souselts{
	display: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
img.slider{
	width: 100%;
}
#map-canvas {
        width: 100%;
        height: 450px;
      }

#accueildiv
{
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	border:2px solid black;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	border-radius:10px;

}
#table_PremiereAnnee
{
	margin-top: 5px;
	margin-left: 50px;
	border:2px solid white;
}
#table_Remuneration
{
  margin-top: 5px;
  margin-left: 50px;
  border:2px solid white;
}
.bgGris{
	background-color: rgba(204,204,204,0.5);
	border:2px solid black;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.bgNoir{

	background-color: rgba(0,0,0,0.5);
	border:2px solid black;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
li.body{
margin-left: 100px;
}
table.body{
    margin-left:200px;
}
.udaLogo{
width: 36px;
height: 36px;
}
.bouton {
	text-decoration: none;
    width:auto;
    padding:8px 0;
    text-align:center;
    display: inline-block;
    float:left;
    margin:0 8px 0 0;
    border-radius:7px;
    font-size: 0.85em;
    width:60%;
    color:#FFFFFF;
    font-family: Arial,sans-serif;
}
.bouton, .bouton:active {
	border:2px solid black;

}
.bouton {
    margin-left: 20%;
    margin-top : 17%;
	text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.3);
	text-decoration: none;
	font-family: Arial Black ;
	font-weight: 900;
	transition-duration: 1s;
	transform: scale(1);
}
.bouton:hover {
  	background-color: rgba(7, 0, 0, 0.5);
    text-decoration: none;
    color: white;
    transform: scale(1.2);
   transition-duration: 1s;
}
.bouton:active{box-shadow: 1px 1px 10px #000 inset, 0 1px 0 rgba( 255, 255, 255, 0.4);}

   
