body{
	color: white;
	height: 100%;
}
body p{
margin-left: 5%;
margin-right: 5%;

}

body li{
margin-left: 5%;
margin-right: 5%;
}
#accueildiv{
	height: 30%;
}
.menu-carre{
	background-color: grey;
	border: 2px;
	border-color: black;
	border-style: solid;
    height:40%;
    margin-right:3%;
    width:30%;
    -moz-border-radius: 10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:table;
}
.h3menu{
	color: white;
	vertical-align: middle;
display: table-cell;
}

.menu{
	clear: both;
	margin: auto;
    margin-left: 5%;
}

.dut_premiereannee1{
	width:10px;
	margin-left:2%;
}

.dut_premiereannee2{
	margin-left:2%;
}

.bgLepuy{
	background: url('../images/backgrounds/lepuy.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bgIUTMiniature{
	background-image: url('../images/backgrounds/iut.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.bgSalleMiniature{
	background-image: url('../images/backgrounds/salle.jpg');
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bgIUT2Miniature{
	background-image: url('../images/backgrounds/IUT2.jpg');
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bgIUTContent{
	background: url('../images/backgrounds/iut.jpg')no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.bgSalleContent{
	background: url('../images/backgrounds/salle.jpg')no-repeat center center fixed;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bgIUT2Content{
	background: url('../images/backgrounds/IUT2.jpg')no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


#dut{
	display: none;
}
#dut p h3 h4{
	padding-left: 2%;
}

.mini_titre{
margin-left: 5%;
}

#licence{
	display: none;

}
#licence p h3 h4{
	padding-left: 5%;
}
#infos{
	display: none;
}
#infos p h3 h4{
	padding-left: 2%;
}

.bigHeight{
	margin-top: 60px;
}
.content{
	position: absolute;
	left: 15%;
	top: 0;
	background-color: rgba(0,0,0,0.5);
}
#menu2{
	display: none;
	width: 15%;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	background-color: rgba(204,204,204,0.5);

}
a.scrollTo{
	color: white;
}
img.iut_logo{
	width: 80%;
}
.menu_souselts{
	display: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
img.slider{
	width: 100%;
}
#map-canvas {
        width: 100%;
        height: 450px;
      }

#accueildiv {
	color:black;
	margin-left: 10px;
	margin-top: 10%;
	margin-right: 50%;
	margin-bottom: 1%;

}
#table_PremiereAnnee{
	margin-top: 5px;
	margin-left: 50px;
	border:2px solid white;
}
#table_Remuneration
{
  margin-top: 5px;
  margin-left: 50px;
  border:2px solid white;
}
li.body{
margin-left: 100px;
}
table.body{
    margin-left:200px;
}
.udaLogo{
width: 36px;
height: 36px;
}
